
<div class="col-12 mb-3 p-5 sectionback">
    <div class="row">
        <div class="col-4 pt-3 c">
            <img src="static/img/img/contact_us.png" class="imgobj1" alt="Img">
        </div>

        <div class="col-4 c">
            <h2>Contact Us</h2>
            <p>Monday to Friday 8.00 am a 5.00 pm.</p>
            <p>dgalanv@sena.edu.co</p>
            <p>PBX: 5461500 Ext: 16906</p>
            <p>Centro de Gestión de mercados, Logística y Tecnologías de la Información</p>
            <p>Calle 52 No. 13-65, oficina 507, Bogotá D.C</p>
        </div>

        <div class="col-4 c">
            <h2>Social Media Sena</h2>
            <div class="col-lg-12 mt-4">
                
                <a href="https://www.google.com/url?q=https%3A%2F%2Fm.facebook.com%2Fprofile.php&sa=D&sntz=1&usg=AOvVaw0f26lGo6oFHSks6Fg-mtnN" target="_blank">
                    <img src="static/img/icons/facebook.png" class="imgred" alt="LOGO" />
                </a>
                
                <a href="https://www.instagram.com/senacomunica/" target="_blank">
                    <img src="static/img/icons/instagram.png" class="imgred" alt="LOGO" />
                </a>
                
                <a href="https://twitter.com/cgmltidc" target="_blank">
                    <img src="static/img/icons/twitter.png" class="imgred" alt="LOGO" />
                </a>
            </div>
            <div class="col-lg-12 mt-4">
                <a href="https://www.youtube.com/user/SENATV" target="_blank">
                    <img src="static/img/icons/youtube.png" class="imgred" alt="LOGO" />
                </a>
    
                <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank">
                    <img src="static/img/logos/logo-sena-Naranja.jpg" class="imgred" alt="LOGO" />
                </a>
            </div>
        </div>

    </div>
</div>
