
<nav class="navbar navbar-expand-lg" data-bs-theme="light" style="background-color: #39a900;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link navcol" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link navcol" href="test">Pruebas de Ingles</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navcol" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sites
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="cloudlab">Simuladores Cloud Labs</a></li>
                        <li><a class="dropdown-item" href="biblio">Biblioteca Digital SENA</a></li>
                        <li><a class="dropdown-item" href="digitplat">Plataformas Digitales</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navcol" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Courses & Workshops
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="intrvirtual">Intercambios Virtuales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="prepa">Talleres Preparatorios</a></li>
                        <li><a class="dropdown-item" href="#">Bilingual Program &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li><a class="dropdown-item" href="engfwork">English For Work</a></li>
                                <li><a class="dropdown-item" href="eduagrim">Educational Agreements</a></li>
                                <li><a class="dropdown-item" href="syllabus">Syllabus</a></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Cursos de Ingles</a></li>
                        <li><a class="dropdown-item" href="virtual">Cursos Virtuales Vigentes</a></li>
                        <li><a class="dropdown-item" href="presencial">Cursos Presenciales Vigentes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Otros Idiomas</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navcol" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Material
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="diccionary">Diccionarios</a></li>
                        <li><a class="dropdown-item" href="galeria">Galery</a></li>
                        <li><a class="dropdown-item" href="portafolio">Portafolio Bilingüismo</a></li>
                        <li><a class="dropdown-item" href="#">Digital Resources &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li><a class="dropdown-item" href="aplica">Apps</a></li>
                                <li><a class="dropdown-item" href="vocabulary">Vocabulary</a></li>
                                <li><a class="dropdown-item" href="games">Games</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navcol" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sena Film Festival</a></li>
                        <li><a class="dropdown-item" href="#">Sena research Colloquium</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navcol" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Instructors</a></li>
                        <li><a class="dropdown-item" href="aboutus">Team</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link navcol" href="#">News</a></li>
            </ul>
        </div>
    </div>
</nav>
