{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2">
    <h2 class=" mt-4 c">Our Super Team</h2>
    <container>
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Diana Galan.png" alt="">
                <h3>Diana </h3>
            </div>
            <div class="face back">
                <h3>Diana Galán Vega</h3>
                <p>Profesional área de bilingüismo</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Felipe Isaza.png" alt="">
                <h3>Natalia</h3>
            </div>
            <div class="face back">
                <h3>Natalia Baez</h3>
                <p>Instructora de industrias creativas</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Felipe Isaza.png" alt="">
                <h3>Felipe</h3>
            </div>
            <div class="face back">
                <h3>Felipe Isaza</h3>
                <p>Instructora de industrias creativas</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Felipe Isaza.png" alt="">
                <h3>Alejandra</h3>
            </div>
            <div class="face back">
                <h3>Alejandra Poveda</h3>
                <p>Diseño Gráfico</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Felipe Isaza.png" alt="">
                <h3>Mateo</h3>
            </div>
            <div class="face back">
                <h3>Mateo Lopez</h3>
                <p>Diseño Gráfico</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/team/Felipe Isaza.png" alt="">
                <h3>Gabriel</h3>
            </div>
            <div class="face back">
                <h3>Gabriel Masutier</h3>
                <p>Desarrollo Web</p>
            </div>
        </div>
    </container>
</div>

{% endblock %}
