{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 mb-5 c">Biblioteca Digital SENA</h2>

        <p>El Sistema de Bibliotecas dispone para apoyar la enseñanza y el aprendizaje de idiomas de recursos bibliográficos físicos y digitales y servicios de información presenciales y en línea que encuentras a continuación:</p>

        <h3 class="mt-4">Recursos bibliográficos físicos</h3>
        <p class="just">Las bibliotecas de los Centros de Formación y complejos, poseen títulos en papel que apoyan la formación en lenguas. Consulte el catálogo disponible en su Centro de Formación para su aprovechamiento. Se recomienda el título Touchstone y editoriales como Express Publishing, Penguin Readers, entre otras.</p>
        
        <h3 class="mt-3">Recursos bibliográficos digitales</h3>
        <p class="just">Puedes acceder a la información con tu número de documento de identidad en usuario y contraseña, a través de https://biblioteca.sena.edu.co, donde encontrarás servicios, programas culturales y recursos de información entre los que destacamos: (Oprima cada opción para ingresar al sitio).</p>

        <ul>
            <li><a class="atag1" target="_blank" href="https://www.cinescuela.org">CINESCUELA:</a> visualización de películas en línea en español, inglés, francés y lenguas indígenas</li>
            <li><a class="atag1" target="_blank" href="https://search.ebscohost.com/login.aspx?authtype=ip,uid&custid=ns056242&profile=ehost&groupid=main">EBSCO HOST:</a>  temas técnicos idioma inglés: GreenFILE, SPORTDiscus, Textile Technology Complete, eBook Academic Collection</li>
            <li><a class="atag1" target="_blank" href="https://www.fashionsnoops.com">FASHION SNOOPS:</a>  seguimiento de tendencias de moda. Contenidos disponibles en inglés y koreano.</li>
            <li><a class="atag1" target="_blank" href="http://infotrac.galegroup.com/itweb/sena?db=IFME&id=sena1001">INFORME ACADÉMICO:</a>  Revistas publicadas en 14 países, de Iberoamérica, de carácter académico, científico entre otros.</li>
            <li><a class="atag1" target="_blank" href="https://www.proquest.com/ip">PROQUEST:</a>  Artículos científicos. Temas: empresas y economía, salud y economía, noticias-asuntos mundiales entre otros.</li>
            <li><a class="atag1" target="_blank" href="https://www.sciencedirect.com">SCIENCEDIRECT:</a>  Revistas que incluyen más de 9.500.000 artículos en áreas científicas, tecnológicas y médicas.</li>
            <li><a class="atag1" target="_blank" href="http://subscriptions.techstreet.com">TECHSTREET:</a>  Acceso a 2.300 normas técnicas internacionales en inglés de organizaciones como ISO, ASME, ASTM, entre otros</li>
            <li><a class="atag1" target="_blank" href="https://quest.eb.com/">IMAGE QUEST:</a>  Más de tres millones de imágenes para uso educativo y en alta resolución que se pueden descargar, guardar, imprimir o enviar por correo electrónico, libres de derechos de autor para lecciones, tareas, proyectos de formación, páginas web, boletines, periódicos ¡y mucho más! </li>

            <li><a class="atag1" target="_blank" href="https://www.ebooks7-24.com/">EBOOKS 7/24:</a>  Libros electrónicos en inglés de temas técnicos en especial de las editoriales McGraw-Hill y Pearson.</li>
            <li><a class="atag1" target="_blank" href="https://search.ebscohost.com/login.aspx?authtype=ip,uid&custid=ns056242&groupid=main&profile=ell">READ IT:</a>  Recurso suscrito por el Sistema de Bibliotecas, permite el desarrollo de las habilidades de lectura en inglés</li>
            <li><a class="atag1" target="_blank" href="http://bibliotecadigital.magisterio.co">MAGISTERIO:</a>  Portal que contiene libros de más de 400 autores de diversas escuelas pedagógicas y una selección de más de 430 obras exclusivamente editadas por la editorial Magisterio, con un énfasis nacional e iberoamericano. </li>

        </ul>
    </div>
</div>

{% endblock %}
