{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">Bilingual Program</h2>

        <p>El programa de bilingüismo es la respuesta del SENA a los requerimientos del sector productivo en cuanto a la necesidad de dominio de una segunda lengua por parte de los trabajadores y la población colombiana, con el fin de incidir sobre la competitividad de las empresas y mejorar los índices de empleabilidad del país.</p>

    </div>
</div>

{% endblock %}
