{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">Plataformas Digitales</h2>

        <p>Los Recursos Educativos Digitales del Programa de Bilingüismo, surgen a partir de la necesidad de contar con materiales de apoyo a la formación que le permitan al aprendiz fortalecer sus competencias en lenguas. Estos recursos vienen agrupados en objetos virtuales de aprendizaje y se cimentan en principios pedagógicos que incluyen el desarrollo de las competencias comunicativas y permiten, entre otros aspectos, una retroalimentación simultánea y la realización de actividades sincrónicas y asincrónicas que hacen posible que el instructor realice un desarrollo curricular completo y didáctico del Programa de Formación que orienta.</p>

        <a class="btn btn-color2 m-5 c" target="_blank" href="https://view.genial.ly/628cfdb4f2fba9001152780c">Instructivo Recursos Educativos Digitales</a>

    </div>
</div>

{% endblock %}
