{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">

    <div class="col-10 mx-auto mt-4 mb-5 c">
        <img src="static/img/banner/english for work.png" class="imgbann mt-4" alt="LOGO" />
    </div>
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 mb-4 c">ENGLISH FOR WORK</h2>

        <p>English for Work es el programa piloto de formación en biligüismo productivo.  es la mejor forma de mejorar tu inglés y ponerlo a trabajar ademas  es un programa creado por el Sena para desarrollar en las personas las habilidades comunicativas en Inglés que les permitirán ser exitosas en la industria del BPO (Business Process Outsourcing). Si deseas trabajar con en esta industria pero aún no tienes la competencia de Inglés necesaria, English for Work te enseña.</p>

        <p>El SENA está encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de los trabajadores colombianos, ofreciendo y ejecutando la formación profesional integral, para la incorporación y el desarrollo de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país.</p>

        <p>El SENA está encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de los trabajadores colombianos, ofreciendo y ejecutando la formación profesional integral, para la incorporación y el desarrollo de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país.</p>
        <div class="row c">
            <div class="col-lg-6 col-sm-8 mx-auto">
                <a class="btn btn-color2 btn-lg m-5 c" target="_blank" href="https://englishforwork9.wixsite.com/website">Pagina Oficial</a>
            </div>
            <div class="col-lg-6 col-sm-8 mx-auto">
                <a href="https://twitter.com/English_forWork" target="_blank">
                    <img src="static/img/icons/twitter.png" class="imgred mt-4" alt="LOGO" />
                </a>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}
