{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2">
    <h2 class=" mt-4 c">Games</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
        <div class="col">
            <div class="cards" style="width: 14rem;">
                <a href="http://www.letshavefunwithenglish.com/games.html" target="_blank" class="atag1">
                    <h1 class="c">Games</h1>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="cards" style="width: 17rem;">
                <a href="https://www.educaplay.com/types-of-activities/" target="_blank">
                    <img class="imgobj1" src="static/img/img/diccion/educaplay-1.jpg" alt="educaplay">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="cards" style="width: 17rem;">
                <a href="https://engames.eu/" target="_blank" class="atag1">
                    <h1 class="c">Engames</h1>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="cards" style="width: 17rem;">
                <a href="https://www.englishclub.com/" target="_blank">
                    <img class="imgobj1" src="static/img/img/diccion/englishclub.png" alt="busuu">
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
