{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">Intercambios Virtuales</h2>

        <p>En alianza con Asia Pacific Virtual Exchange Association (APVEA), se tiene por objetivo el fortalecimiento de las competencias escritas y lectoras en inglés de aprendices del SENA. Con esta alianza, los aprendices se comunican con pares en distintos países, mayormente de Japón, así como de China, Corea del sur, Tailandia, Brasil, España, Emiratos Árabes Unidos y Chile.</p>

        <a class="btn btn-color2 m-5 c" target="_blank" href="https://iveproject.org/">International Virtual Exchange Project</a>

    </div>
</div>

{% endblock %}
