{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">
        <div class="row">
            <div class="col-lg-5 col-sm-11 mx-auto ">
                <h2 class="mt-5 c">Portafolio Bilingüismo</h2>
                <p>Sigue el paso a paso para crear tu portafolio área de bilingüismo</p>

            </div>
            <div class="col-lg-7 col-sm-11 mx-auto m-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eGeqtrIBZ3w?si=6qOw-4miIGQgiJJ9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
