{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2">
    <h2 class=" mt-4 c">SYLLABUS</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
        <div class="col">
            <div class="card" style="width: 16rem;">

                <div class="card-body">
                    <h5 class="card-title">1st Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text">COMPRENDER INFORMACIÓN SOBRE SITUACIONES COTIDIANAS Y LABORALES ACTUALES Y FUTURAS A TRAVÉS DE INTERACCIONES SOCIALES DE FORMA ORAL Y ESCRITA.</p>
                </div>
                <a href="term1" class="btn btn-primary">Visit It</a>
            </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 17rem;">

                <div class="card-body">
                    <h5 class="card-title">2nd Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text">INTERCAMBIAR OPINIONES SOBRE SITUACIONES COTIDIANAS Y LABORALES ACTUALES, PASADAS Y FUTURAS EN CONTEXTOS SOCIALES ORALES Y ESCRITOS.</p>
                </div>
                <a href="term2" class="btn btn-primary">Visit It</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 17rem;">

                <div class="card-body">
                    <h5 class="card-title">3rd Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text"></p>
                </div>
                <a href="term3" class="btn btn-primary">Visit It</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 16rem;">

                <div class="card-body">
                    <h5 class="card-title">4th Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text">EXPLICAR LAS FUNCIONES DE SU OCUPACIÓN LABORAL USANDO EXPRESIONES DE ACUERDO AL NIVEL REQUERIDO POR EL PROGRAMA DE FORMACIÓN.</p>
                </div>
                <a href="term4" class="btn btn-primary">Visit It</a>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
        <div class="col">
            <div class="card" style="width: 16rem;">

                <div class="card-body">
                    <h5 class="card-title">5th Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text">DISCUTIR SOBRE POSIBLES SOLUCIONES A PROBLEMAS DENTRO DE UN RANGO VARIADO DE CONTEXTOS SOCIALES Y LABORALES.</p>
                </div>
                <a href="term5" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 17rem;">

                <div class="card-body">
                    <h5 class="card-title">6th Term</h5>
                    <h5 class="card-title">Competencia:</h5>
                    <p class="card-text">PRESENTAR UN PROCESO PARA LA REALIZACIÓN DE UNA ACTIVIDAD EN SU QUE HACER LABORAL DE ACUERDO CON LOS PROCEDIMIENTOS ESTABLECIDOS DESDE SU PROGRAMA DE FORMACIÓN.</p>
                </div>
                <a href="term6" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>

{% endblock %}
