{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">
        <h2 class="mt-4 mb-5 c">Pruebas de ingles</h2>

        <div class="row">

            <div class="col-6">
                <div class="col-11 mx-auto p-5 backs">
                    <h2>Prueba SEPT</h2>
                    <label for="aprendfileinn" class="form-label">Sena English Placement Test, está diseñada para el aprovechamiento de instructores, aprendices y aspirantes SENA interesados en identificar su nivel de dominio del inglés.</label>
                    <div class="col-7 mx-auto">
                        <div class="d-grid gap-2">
                            <a class="btn btn-color2 mt-3" target="_blank" href="#">Realizar la Prueba SEPT</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="col-11 mx-auto p-5 backs">
                    <h2>Prueba SET</h2>
                    <label for="aprendfileinn" class="form-label pb-4">Sena English Test, esta diseñada como prueba diagnóstica para el reconocimiento de aprendizajes previos.</label>
                    <div class="col-7 mx-auto">
                        <div class="d-grid gap-2">
                            <a class="btn btn-color2 mt-3" target="_blank" href="#">Realizar la Prueba SET</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
