{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2">
    <h2 class=" mt-4 c">Cursos Virtuales Vigentes</h2>
    <h3 class=" mt-4 c">English Does Work</h3>
    
    <container>
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_1.jpg" alt="work1">
                <h3>English Does Work 1</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 1</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_2.jpg" alt="work2">
                <h3>English Does Work 2</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 2</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_3.jpg" alt="work3">
                <h3>English Does Work 3</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 3</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_4.jpg" alt="work4">
                <h3>English Does Work 4</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 4</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_5.jpg" alt="work5">
                <h3>English Does Work 5</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 5</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    
        <div class="card">
            <div class="face front">
                <img src="static/img/img/english_for_work/english_does_work_6.jpg" alt="work6">
                <h3>English Does Work 6</h3>
            </div>
            <div class="face back">
                <h3>English Does Work 6</h3>
                <img src="static/img/img/english_for_work/ANALISIS Y DESARROLLO DE SOFTWARE Mixta.png" class="imgcardback" alt="work1">
                <p>1841699</p>
            </div>
        </div>
    </container>
</div>

{% endblock %}
