{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">3rd Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>EXPLICAR</p>

    </div>

    <div class="col-5 mx-auto mt-4">
        <a href="syllabus c" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
