{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">1st Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR EN LENGUA INGLESA DE FORMA ORAL Y ESCRITA DENTRO DE CONTEXTOS SOCIALES Y LABORALES SEGÚN LOS CRITERIOS ESTABLECIDOS POR EL MARCO COMÚN EUROPEO DE REFERENCIA PARA LAS LENGUAS.</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>COMPRENDER INFORMACIÓN SOBRE SITUACIONES COTIDIANAS Y LABORALES ACTUALES Y FUTURAS A TRAVÉS DE INTERACCIONES SOCIALES DE FORMA ORAL Y ESCRITA.</p>

    </div>

    <div class="col-7 mx-auto mt-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>Week 1</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Introducing yourself, get to know someone else. Exchanging personal information about occupation, phone number, mail, procedence, marital status, address, spelling and greetings.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can say hello and goodbye.</li>
                            <li>Can ask Wh questions about personal information details.</li>
                            <li>Can exchange Personal information.</li>
                            <li>Can say the Alphabet and spell different technical words and numbers.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>Week 2</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about nationalities,countries and people's procedence. talk about your own hometown.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about People's nationalities.</li>
                            <li>Can elicit information about nationalities and countries.</li>
                            <li>Can identify countries and nationalities vocabulary.</li>
                            <li>Can ask people about their hometown.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>Week 3</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Sharing your personal life. Describe your family members and use of possessives.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe his/her Family tree.</li>
                            <li>Can understand conversations about family description.</li>
                            <li>Can talk about his/her family members' most basic information. Can ask questions about classmates' families.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h2>Week 4</h2>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing daily routines for your personal life and for your job. Work and workplaces.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can identify different professions.</li>
                            <li>Can describe habits and different activities related to professions.</li>
                            <li>Can describe his/her routines.</li>
                            <li>Can ask other people about their professions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>Week 5</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about frequency , giving your personal opinion and discussing about likes and dislikes, express your favourite activites.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about the frequency of his/her habits.</li>
                            <li>Can describe people's habits and routines.</li>
                            <li>Can start and finish a convesation about routines and habits. Can explain his/her profession routines.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>Week 6</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Progress check and mid term, Review. GRAMMAR APPROACH.</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                        <h2>Week 7</h2>
                    </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Going shopping, buying and selling things, expand vocabulary about numbers, materials, colors, personal items, etc. comparing prices.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can ask for the price of different items.</li>
                            <li>Can identify different currencies.</li>
                            <li>Can understand people talking about prices and opinions about personal items.</li>
                            <li>Can describe items in a simple way ( color, size, price).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                        <h2>Week 8</h2>
                    </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Indicating the distance of objects and people and asking about their location in different contexts.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe places.</li>
                            <li>Can give details about his/her hometown.</li>
                            <li>Can give directions.</li>
                            <li>Can understand people giving directions and details about places.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                        <h2>Week 9</h2>
                    </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing the arrangement of things in different settings.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can locate things in the class environment Can ask people about the location of different items.</li>
                            <li>Can listen to people giving instructions and location. Can explain the arrangement of places.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                        <h2>Week 10</h2>
                    </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Asking about abilities and talents.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about abilities in daily and professional activities Can describe other people's abilities.</li>
                            <li>Can ask questions about talents and abilities.</li>
                            <li>Can listen to people describing their talents.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                        <h2>Week 11</h2>
                    </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Review, check evidences, heteroevaluation, final evaluation, giving notes, last updates, catching up, etc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-5 mx-auto mt-4 c">
        <a href="syllabus" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
