{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">2nd Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR EN LENGUA INGLESA DE FORMA ORAL Y ESCRITA DENTRO DE CONTEXTOS SOCIALES Y LABORALES SEGÚN LOS CRITERIOS ESTABLECIDOS POR EL MARCO COMÚN EUROPEO DE REFERENCIA PARA LAS LENGUAS.</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>INTERCAMBIAR OPINIONES SOBRE SITUACIONES COTIDIANAS Y LABORALES ACTUALES, PASADAS Y FUTURAS EN CONTEXTOS SOCIALES ORALES Y ESCRITOS.</p>

    </div>

    <div class="col-7 mx-auto mt-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>Week 1</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing what is happening right now and talking about any current trend.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe his/her uniform characteristics (material, color, patterns).</li>
                            <li>Can talk about actions happening at the moment of speaking.</li>
                            <li>Can listen to people talking about actions in progress.</li>
                            <li>Can describe what people are wearing.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>Week 2</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about memories and last experiences, giving opinons about past events</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can recall past events.</li>
                            <li>Can describe important past states.</li>
                            <li>Can ask people about past feelings and states.</li>
                            <li>Can listen to people describing specific past states.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>Week 3</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Exchanging information about anecdotes and people's background. Describing important deeds from the past time</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe people's influence in history.</li>
                            <li>Can use a variety of vocabulary to describe the past tense.</li>
                            <li>Can ask people for specifications.</li>
                            <li>Can understand videos describing people's influence in history.</li>
                            <li>Can listen to people describing specific past states.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h2>Week 4</h2>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Using a wide variety of vocabulary to make comparisons.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can identify some phonemes when pronouncing adjectives.</li>
                            <li>Can use adjectives to compare.</li>
                            <li>Can use adjectives to establish differences between two people, two objects and two places.</li>
                            <li>Can elicit information about comparisons.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>Week 5</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Indicating the characteristics of different elements and making comparisons among them.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can compare things, places and people.</li>
                            <li>Can describe places, objects and people's characteristics.</li>
                            <li>Can elicit information from texts about comparisons and descriptions.</li>
                            <li>Can understand conversations about comparisons and descriptions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>Week 6</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Progress check and mid term, Review. GRAMMAR APPROACH</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                        <h2>Week 7</h2>
                    </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Asking for and giving suggestions, requests and advice. Setting permissions and obligations for general contexts. Talking in formal and informal ways.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can give advice to other students for solving academic and family problems.</li>
                            <li>Can talk about rules and prohibitions.</li>
                            <li>Can understand different types of signs and symbols related to permission and prohibition.</li>
                            <li>Can listen to people talking about rules and prohibitions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                        <h2>Week 8</h2>
                    </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Making invitations and expressing personal opinions, likes, dislikes, excuses and needs.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about preferences and desires.</li>
                            <li>Can ask people about their preferences.</li>
                            <li>Can write about preferences and desires related to academic and labour issues.</li>
                            <li>Can listen to people talking about preferences and desires.</li>
                            <li>Can listen to people talking about rules and prohibitions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                        <h2>Week 9</h2>
                    </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Expressing spontenaous decisions and predictions. Making promisses about the future</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can make predictions about the future.</li>
                            <li>Can talk about possible future events.</li>
                            <li>Can ask people about their opinions and predictions for the future.</li>
                            <li>Can elicit information about future possible events.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                        <h2>Week 10</h2>
                    </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Making plans and invitations, accepting and refusing challenges, dates, appoinments, and general requests.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about intentions and plans.</li>
                            <li>Can ask people about their plans and intentions.</li>
                            <li>Can listen to people talking about their intentions and plans.</li>
                            <li>Can understand basic questions about plans and intentions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                        <h2>Week 11</h2>
                    </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Review, check evidences, heteroevaluation, final evaluation, giving notes, last updates, catching up, etc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-5 mx-auto mt-4 c">
        <a href="syllabus" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
