{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">6th Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR EN LENGUA INGLESA DE FORMA ORAL Y ESCRITA DENTRO DE CONTEXTOS SOCIALES Y LABORALES SEGÚN LOS CRITERIOS ESTABLECIDOS POR EL MARCO COMÚN EUROPEO DE REFERENCIA PARA LAS LENGUAS.</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>PRESENTAR UN PROCESO PARA LA REALIZACIÓN DE UNA ACTIVIDAD EN SU QUE HACER LABORAL DE ACUERDO CON LOS PROCEDIMIENTOS ESTABLECIDOS DESDE SU PROGRAMA DE FORMACIÓN.</p>

    </div>

    <div class="col-7 mx-auto mt-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>Week 1</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Refering to sequence of actions in the past, asking about past experiences up to the present. Giving specific details about them.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about achievements and specific details about them.</li>
                            <li>Can ask information about specific details when describing past events.</li>
                            <li>Can ask and answer questions about achievements in life.</li>
                            <li>Can understand conversations about people´s achievements.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>Week 2</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Discussing world's problems and current issues (social, personal or professional) and making up strategies or solutions for them. Speaking in a formal way.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe important discoveries for human kind.</li>
                            <li>Can talk about historical and artistic events from the past.</li>
                            <li>Can give opinions about manufacture and economy.</li>
                            <li>Can elicit information about historical facts.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>Week 3</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about regrets in your personal and professional life, deliberating on possible decisions from your past.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about regrets and unreal situations.</li>
                            <li>Can reflect upon ideal consequences.</li>
                            <li>Can ask people about unreal consequences and behaviors.</li>
                            <li>Can listen to people talking about regrets and unreal consequences.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h2>Week 4</h2>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Reporting what people say, passing messages with discression ( formal speaking) and gossiping ( informal speaking).</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can report messages and phrases other people said.</li>
                            <li>Can talk about important quotes and sayings influential people mentioned.</li>
                            <li>Can exchange information about quotes and theories influential people in their area expressed.</li>
                            <li>Can elicit information from texts about scientists , philosophers’ important contributions to the world.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>Week 5</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Making conclusions and guesssings. Suggesting different explanations for any situation and describing hypothetical events.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can express opinions when talking about regrets.</li>
                            <li>Can ask and answer questions about hypothetical situations from the past.</li>
                            <li>Can reflect upon the possible consequences of past actions and their impact on the present.</li>
                            <li>Can understand people talking about regrets.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>Week 6</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Progress check and mid term, Review. GRAMMAR APPROACH</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                        <h2>Week 7</h2>
                    </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Complaining by giving a more specific description of that reproach. Interchanging opinions by discussing ideal situations and their qualitites to solve those complains.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can write a complaint letter.</li>
                            <li>Can give reasons when disagreeing about specific situations.</li>
                            <li>Can describe situations in detail giving specifications about place, time and other relevant elements.</li>
                            <li>Can understand specific information when listening to people telling stories.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                        <h2>Week 8</h2>
                    </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing the purpose, features and reasons of different services offered in the labor world. Talking about changes and expressing emotions about it.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can explain how things work.</li>
                            <li>Can explain technical processes in his/her area of expertise.</li>
                            <li>Can read manuals or texts explaining how things work.</li>
                            <li>Can describe work functions at his/her own area of expertise.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                        <h2>Week 9</h2>
                    </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Using idioms in a more natural way, improving your speech when talking about your favourite topics.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe his/her daily life giving specific details.</li>
                            <li>Can talk about random topics expressing agreement or disagreement.</li>
                            <li>Can recall past events and give details about them.</li>
                            <li>Can exchange information about common interests.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                        <h2>Week 10</h2>
                    </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Discussing pros and cons of different situations and things to be accomplished at your career, describing qualities for job success.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about the pros and cons of specific situations.</li>
                            <li>Can ask and answer questions about controversial topics and taboos.</li>
                            <li>Can state his/her opinion about controversial topics.</li>
                            <li>Can elicit information from readings about the pros and cons of specific situations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                        <h2>Week 11</h2>
                    </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Review, check evidences, heteroevaluation, final evaluation, giving notes, last updates, catching up, etc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-5 mx-auto mt-4 c">
        <a href="syllabus" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
