{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">4th Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR EN LENGUA INGLESA DE FORMA ORAL Y ESCRITA DENTRO DE CONTEXTOS SOCIALES Y LABORALES SEGÚN LOS CRITERIOS ESTABLECIDOS POR EL MARCO COMÚN EUROPEO DE REFERENCIA PARA LAS LENGUAS.</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>EXPLICAR LAS FUNCIONES DE SU OCUPACIÓN LABORAL USANDO EXPRESIONES DE ACUERDO AL NIVEL REQUERIDO POR EL PROGRAMA DE FORMACIÓN.</p>

    </div>

    <div class="col-7 mx-auto mt-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>Week 1</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Debating on hypothetical situations and unlikely events. Giving advices to solve situations.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe imaginary situations and uncertain consequences.</li>
                            <li>Can ask and answer questions about imaginary consequences.</li>
                            <li>Can exchange information about uncertain situations.</li>
                            <li>Can understand other people giving reasons in imaginary situations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>Week 2</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing situations where you express likes, desire, necesity and obligation.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about people's behaviors when expressing obligation.</li>
                            <li>Can describe people's needs.</li>
                            <li>Can talk about classmates' desires and needs.</li>
                            <li>Can understand conversations describing prohibitions and desires.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>Week 3</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Sharing information about habitual actions in the past, remembering your childhood.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can recall past habits and childhood memories.</li>
                            <li>Can ask and answer questions about his/her most memorable childhood habits.</li>
                            <li>Can compare past habits with present behaviours and routines.</li>
                            <li>Can elicit information from texts describing activities people used to do.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h2>Week 4</h2>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Stating preferences, agreeing and disagreeing with other people's opinions.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can express preferences and similarities when doing different activities.</li>
                            <li>Can ask and answer questions expressing similarity.</li>
                            <li>Can agree and disagree with other classmates.</li>
                            <li>Can express disagreement when speaking about past events.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>Week 5</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Asking for and giving information about quantities and comparing measures</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about measurements and quantities.</li>
                            <li>Can give opinions when describing food or other items.</li>
                            <li>Can ask classmates about measurements and distance.</li>
                            <li>Can recognize a considerable amount of vocabulary.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>Week 6</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Progress check and mid term, Review. GRAMMAR APPROACH</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                        <h2>Week 7</h2>
                    </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Expressing yourself in a more natural way, with more fluency and expertise.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe routines and house chores.</li>
                            <li>Can ask people about their leisure activities.</li>
                            <li>Can use a significant variety of expressions related to daily activities and house chores.</li>
                            <li>Can exchange information about hobbies and free time activities.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                        <h2>Week 8</h2>
                    </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about yourself in every day activities, and making emphasis on your own acts.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can express opinions about him/herself and other people.</li>
                            <li>Can describe his/her classmates lives.</li>
                            <li>Can ask people about their routines.</li>
                            <li>Can ask for, make and respond to suggestions.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                        <h2>Week 9</h2>
                    </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Interchanging detailed descriptions of different events, and discussing how the actions are done.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can give reasons when describing stories and anecdotes.</li>
                            <li>Can give details when narrating stories or random situations.</li>
                            <li>Can ask his/her classmates about events and anecdotes.</li>
                            <li>Can elicit information from stories and short tales.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                        <h2>Week 10</h2>
                    </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Narrating earlier events and asking about someone's past.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe stories and unexpected situations.</li>
                            <li>Can write a story describing an unexpected result.</li>
                            <li>Can ask for information about past events.</li>
                            <li>Can talk about specific details about past progressive situations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                        <h2>Week 11</h2>
                    </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Review, check evidences, heteroevaluation, final evaluation, giving notes, last updates, catching up, etc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-5 mx-auto mt-4 c">
        <a href="syllabus" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
