{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto pt-2 pb-5 ">
    <div class="col-10 mx-auto mt-4">

        <h2 class="mt-4 c">5th Term</h2>

        <h3 class="mt-4 c">Competencia:</h3>

        <p>INTERACTUAR EN LENGUA INGLESA DE FORMA ORAL Y ESCRITA DENTRO DE CONTEXTOS SOCIALES Y LABORALES SEGÚN LOS CRITERIOS ESTABLECIDOS POR EL MARCO COMÚN EUROPEO DE REFERENCIA PARA LAS LENGUAS.</p>

        <h3 class="mt-4 c">Resultado de aprendizaje:</h3>

        <p>DISCUTIR SOBRE POSIBLES SOLUCIONES A PROBLEMAS DENTRO DE UN RANGO VARIADO DE CONTEXTOS SOCIALES Y LABORALES.</p>

    </div>

    <div class="col-7 mx-auto mt-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h2>Week 1</h2>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Making questions to confirm information and expressing personal opinion in a more polite way. Making offers and invitations.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can ask people about their present and past most relevant aspects.</li>
                            <li>Can ask for clarification in a polite way.</li>
                            <li>Can express himself/herself using formal expressions.</li>
                            <li>Can request for favors or any specific information from classmates.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h2>Week 2</h2>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Asking for help, requesting information in a formal and appropriate mood, being more polite with people.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can ask for directions in the city in a formal way.</li>
                            <li>Can ask and answer instructions for simple processes in the classroom.</li>
                            <li>Can understand people giving directions.</li>
                            <li>Can exchange opinions about specific topics in class.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h2>Week 3</h2>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Telling stories and narrating sequencing events. Explaining steps of different processes.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe processes (recipes) in sequence.</li>
                            <li>Can give specific details when explaining a process.</li>
                            <li>Can elicit information from texts on processes descriptions.</li>
                            <li>Can ask people about the steps of different procedures.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                        <h2>Week 4</h2>
                    </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Talking about execution of duties. Evaluating service performance and describing how actions take place.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can describe changes in specific activities.</li>
                            <li>Can compare changes when describing past and present events.</li>
                            <li>Can describe specific details when comparing situations.</li>
                            <li>Can exchange information about classmates’ behavior changes.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                        <h2>Week 5</h2>
                    </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Expressing degree of certaintity in diverse situations. Giving your opinion with hesitation.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can infer the possible result of different specific situations.</li>
                            <li>Can deduct the result of a scientific experiment in class.</li>
                            <li>Can give opinions about classmates behavior.</li>
                            <li>Can express different levels of certainty.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                        <h2>Week 6</h2>
                    </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Progress check and mid term, Review. GRAMMAR APPROACH</p>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                        <h2>Week 7</h2>
                    </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Discussing about preferences according to different lifestyles and andgiving instructions about the use and purpose of diverse devices.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about leisure activities and preferences.</li>
                            <li>Can ask and answer questions about likes and dislikes.</li>
                            <li>Can understand people describing likes and dislikes.</li>
                            <li>Can use a considerable range of expressions for describing preferences.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                        <h2>Week 8</h2>
                    </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Describing with detail positive and negative features of people, places and situations. Showing your own perception of things.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can give specific details of technical items and processes.</li>
                            <li>Can exchange opinions when describing devices or technical processes.</li>
                            <li>Can understand simple object descriptions.</li>
                            <li>Can give positive and negative opinions about specific situations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                        <h2>Week 9</h2>
                    </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Expanding vocabulary and using your own background knowledge to predict and discuss events of everyday life.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about the meaning of specific symbols and concepts.</li>
                            <li>Can exchange information about concepts and symbols understanding.</li>
                            <li>Can understand short texts explaining concepts or definitions.</li>
                            <li>Can use different suffixes and prefixes properly.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                        <h2>Week 10</h2>
                    </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Asking for and giving reasons. Discussing the causes and consequences of different events.</p>
                        <h3><strong>Learning goals</strong></h3>
                        <ul style="list-style-type:square">
                            <li>Can talk about the consequences of specific situations.</li>
                            <li>Can connect his/her ideas with a great variety of words.</li>
                            <li>Can exchange opinions when talking about the results of specific situations.</li>
                            <li>Can write a paragraph explaining the results and consequences of specific situations.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                        <h2>Week 11</h2>
                    </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <h3><strong>Main Topic</strong></h3>
                        <p>Review, check evidences, heteroevaluation, final evaluation, giving notes, last updates, catching up, etc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-5 mx-auto mt-4 c">
        <a href="syllabus" class="btn btn-primary">Return to Syllabus</a>
    </div>

</div>

{% endblock %}
